*.pyc
__pycache__/
*.egg-info/
.pytest_cache/
.debhelper/
debian/files
debian/.debhelper/
debian/mint-finder/
debian/*.debhelper.log
debian/*.substvars
*.deb
*.mov
*.build
*.buildinfo
*.changes
*.dsc
*.tar.xz
*.tar.gz
*~
*.swp
.idea/
.vscode/
gschemas.compiled
*.ui.h
*.pot
